<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', path='css/fadeAnimation.css')}}" rel="stylesheet">
    
    <script src="{{ url_for('static', path='js/flashNotification.js') }}"></script>
    <script src="{{ url_for('static', path='js/addMessageToUI.js') }}"></script>
    <script src="{{ url_for('static', path='js/fetchLatestMessages.js') }}"></script>
    
    <title>Anonymous Chat Room</title>
    <style>
        /* TODO: add dark theme */
    </style>
</head>

{% block content %}

{% endblock %}
</html>