{% extends "base.html" %}

{% block content %}
<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="w-full max-w-sm bg-white p-8 rounded-md shadow-md">
        <h1 class="text-2xl font-bold text-center mb-6">Log In</h1>
        <form id="loginForm">
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input id="username" class="mt-1 block w-full border border-gray-300 p-2 rounded-md focus:outline-none" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input id="password" type="password" class="mt-1 block w-full border border-gray-300 p-2 rounded-md focus:outline-none" required>
            </div>
            <button type="submit" class="w-full px-4 py-2 bg-blue-500 text-white rounded-md">Log In</button>
        </form>
        <p class="mt-4 text-center">
            Don't have an account? <a href="{{ url_for('signup_page') }}" class="text-blue-500">Sign Up</a>
        </p>
    </div>
    <script>
        document.getElementById("loginForm").addEventListener("submit", async function(event) {
            event.preventDefault();

            const username = document.getElementById("username").value.trim();
            const password = document.getElementById("password").value.trim();
            
            // TODO: Implement 404 error page
            
            if(password && username) {
                try {
                    const formData = new URLSearchParams();
                    formData.append('username', username);
                    formData.append('password', password);

                    const response = await fetch(`${window.location.origin}/auth/login`, {
                        method: "POST",
                        body: formData
                    });
                    if (response.ok) {
                        const data = await response.json();

                        window.localStorage.setItem("anonChatRoom", `${data.access_token}`);
                        
                        const chatPageUrl = `{{ url_for('chat_page', username='${data.user.username}') }}`;
                        window.location.href = chatPageUrl;
                    } else {
                        const errData = await response.json();
                        showFlashNotification("red", errData.detail);
                    }
                } catch (error) {
                    console.log(`dfgdfgdf${error}`);
                }
            } else {
                showFlashNotification("red","Enter username and password!");
            }
        });
    </script>
</body>
{% endblock %}